/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

/*@import url(github-light.css);*/

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.leftcol {
  width: 50%;
  float: left;
  padding: 20px 20px 20px 20px;
}
.rightcol {
  width: 50%;
  float: right;
  padding: 20px 20px 20px 20px;
}

/*

.section {
  width: 100%;
  height: 800px;
}*/

/*******************************************************************************
Theme Styles
*******************************************************************************/

#home {
  background: #4c4c4c;
}

body {
  box-sizing: border-box;
  text-align: center;
  color:black;
  background: white;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  color:lightgrey;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}


h2 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 36px;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

.sectiontitle {
  font-size: 40px;
}

#sectiontitletableau {

  padding-bottom: 10px;
  margin-bottom: 10px;
}

.tableauarea {
  margin: 0 0 170px 0;
}

.carouselbox {

  width: 85%;
  border: 1px solid black;
  background-color: #fbf9f1;
  margin: 4px 0px 0px 0px;
  padding: 8px 6px 8px 6px;
  border-radius: 15px;

}

.collabbox {

  width: 60%;
  border: 1px solid black;
  background-color: #f0f7f0;
  margin: 4px 4px 4px 4px;
  padding: 8px 8px 8px 8px;
  border-radius: 15px;

}

#playgen li {
  margin-bottom: 10px;
  margin-top: 10px;
}
h3 {
  font-size: 21px;
}

h4 {
  font-size: 17px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 13px;
}

p {
  margin: 10px 0 15px 0;
  text-align: left;

}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

a:hover, a:focus {text-decoration: underline;}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}


pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}


ul, ol, dl {
  margin-bottom: 15px
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  height: 1px;
  margin-bottom: 5px;
  border: none;
  background: url('../images/bg_hr.png') repeat-x center;
}

table {
  /*border: 1px solid #373737;*/
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border-bottom: 1px solid #373737;
  border-left: 1px solid #373737;
  border-right: 1px solid #373737;

}

.input-song {
  padding: 0px;
  height: 0px;
}

form {
  background: #f2f2f2;
  padding: 20px;
}

.first{
  width: 45%;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 0px;


}
.second {
  padding-left: 10px;
  height: 0px;


}
.third {
  width: 81px;
  height: 0px;
  background-color: #373737;
}
#category-select {
  padding: 10px;
  margin-top: 90px;
}

iframe {
  margin-top: 10px;
}
/*******************************************************************************
Full-Width Styles
*******************************************************************************/

/*.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}*/

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 40px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #4a9e48 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


/*#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#downloads {
  position: absolute;
  width: 210px;
  z-index: 10;
  bottom: -40px;
  right: 0;
  height: 70px;
  background: url('../images/icon_download.png') no-repeat 0% 90%;
}

.zip_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom left;
}

.tar_download_link {
  display: block;
  float: right;
  width: 90px;
  height:70px;
  text-indent: -5000px;
  overflow: hidden;
  background: url(../images/sprite_download.png) no-repeat bottom right;
  margin-left: 10px;
}

.zip_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top left;
}

.tar_download_link:hover {
  background: url(../images/sprite_download.png) no-repeat top right;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}*/



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

}


/*MENU*/

#menu li {
  display:inline-block;
  /*margin: 10px;*/
  color: #000;
  background:#212121;
  background: #212121;
/*  -webkit-border-radius: 10px;
            border-radius: 10px;*/
}
#menu li.active{
  background:#666;
  background: #212121;
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: white;
}
#menu li.active a:hover{
  color: white;
}
#menu li:hover{
  background: #313131;
}
#menu li a,
#menu li.active a{
  padding: 8px 18px;
  display:block;
}
#menu li.active a{
  color: #fff;
}

#menu{
  background: #212121;
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 10px 0 50px 0;

}

#home {
  color:lightgrey;
}

#home img {
    margin-left: 25%;
    margin-right: 25%;
}

.spacer {
    width: 100%;
    height: 40px;
}

#home h1 {
  font-size: 66px;
  padding-top: 60px;
  text-align: center;
  color:lightgrey;
}
.column {
  /*padding: 40px 40px 40px 40px;*/
  text-align: justify
}

div.center {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

ul {
  text-align: left;
}

ol {
  text-align: left;
}

#begin {

  background-color: #4a9e48;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: 20px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;

}
/* Laura's additions
.slide{
  margin-left:150px;
  margin-right:150px;
}*/
.tableauPlaceholder {
  width: 100%;
  height: auto;
  margin-top: 0;
  padding-top: 0;
  position: relative;

}/*
.center-image{
  display: block;
  margin: auto;
  width: 100%;
}*/
#conclusion img {
  display:block;
  margin:auto;
  padding-bottom:15px;
  padding-top:15px;:
}


.section {
  padding-left: 50px;
  padding-right:50px;
}
img {
  padding-top: 15px;
}

/* Omar's Styles */

.links line {
  stroke: white;
  stroke-opacity: 0.6;

}

circle {
  stroke: #1d3f1c;
  stroke-width: 1.5px;
}

.node:hover text {
  display: inline;
}

.node text {
  display: none;
  font: 10px sans-serif;
}


svg {
  width: 604px;
  height: 649px;
}
/*
#playgen img {
  float: left;
}
*/
/*Everything relating to recommendations*/

#genre-select {
  position: relative;
  margin:auto;
  width:100%;
}

#genres {
  position: relative;
  width: 100%;
  margin: auto;
  height: 200px;
}

#genre-romance, #genre-thriller, #genre-uk {
  margin: auto;
  width: 100%;
}

#genre-romance .col-md-4, #genre-thriller .col-md-4, #genre-uk .col-md-4 {
  margin: auto;
  width: 100%;
}


#genre-romance img, #genre-thriller img, #genre-uk img {
  position:absolute;
  opacity:1;
  height: 150px;
}

.img1 {
  top: 15px;
  left: 0px;
}

.img2 {
  top: 25px;
  left: 40px;
}

.img3 {
  top: 35px;
  left: 80px;
}

#genres img:hover {
    border-bottom: 5px solid orange;
    z-index: 1001;
}

#genre-romance:hover, #genre-thriller:hover, #genre-uk:hover {
  border: 2px solid grey;
}

#genre-select .row {
  margin: 20px;
}

#recommendations, #rec-books {
  position: relative;
  width: 100%;
  margin:auto;
}

.rec-images {
  position:absolute;
  opacity:1;
  text-align: center;
}

.rec-images img {
  display:inline-block;
  width:10%;
  margin:auto;
}

#rec-profiles {
  position: relative;
  width:100%;
  margin: auto;
}

#playbox{
    margin: 0 0 20px 0;
}

.play {
    display:block;
    height:275px;
    overflow:auto;
    border: 1px dashed #373737;

}

.play-disabled {
  display:block;
  height:275px;
  overflow:auto;
  border: 0px dashed #373737;
}

tr {
    /*padding: 5px 5px 5px 5px;*/
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.bar { fill:  #5A955A; }

.probsvg {
  width: 560px;
  height: 250px;
}


.highlight {
    background-color: #5A955A;
    color: #fff;
}

.playlist-col {
  width:82%;


}

.popularity-col {
  width: 18%;
  vertical-align: middle;
  text-align: center;
}

.first {
  vertical-align: middle;
}

.second {
  vertical-align: middle;
}

iframe {
  margin: 0 0 0 0;
}

.song {
  background-color: #282828;
}


.selection {
  height: 72px;
}

#overview{
  height:530px;
  padding: 0 50px 0 50px;
}

#audio-analysis{
  height: 480px;
  padding: 0 50px 0 50px;

}

#conclusion{
  height: 480px;
  padding: 0 50px 0 50px;
}

#references{
  height:300px;
  padding: 0 50px 0 50px;
}

footer {
  background-color:#4c4c4c;
  height: 100px;
}

#end {

  background-color: #4a9e48;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: 20px;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;

}

#appendixSA{

  height: 800px;
  padding: 150px 50px 100px 50px;

}

#popularity{
  padding: 0 50px 0 50px;
}
